@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap');

:root{
   
    --defaultFontFamily: Arial; 
    --defaultFontSize: 13px;
    --bGCol: rgb(40, 136, 107);
    --formCol: rgb(35, 243, 35);
    --validErrorCol:rgb(0, 162, 255);
    --black:black; 
}

header {
	grid-column: 1/5;
	width: 100%;
	height: 70px;
	background-color: black;
	color: white;
	display: inline-block;
}

.logo {
	position: relative;
	top: 13px;
	height: 50px;
	width: 50px;

}

.logo,
h1.label {
	display: inline;
	padding-left: 10px;
	vertical-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(40, 136, 107);
}

#form{
    
        width: 20%;
        margin: 50px auto;
        padding: 50px;
        background:var(--bGCol);
        text-align: center;
        border-radius: 35px;
}

form {
      
    margin: 20px auto;
    text-align: center;
    color:var(--black);
    font-weight: bold;
    
  }
h2,label{
    color: #ffffff;
    font-family: 'Arial';
}

h1,input::-webkit-input-placeholder,button{
    font-family: 'Arial',sans-serif;
   
}

input{

    border: none;
    height: 25px;
    margin: 15px;
    border: 2px solid;
    padding: 10px;
    width: 70%;
    border-radius: 20px;
    text-align: center;
}
    

.btn {
    border:none;
    width: 40%;
    margin: 30px;
    color:var(--black);
    font-weight: bold;
    background-color: gray;
    border-radius: 30px;
    padding: 10px;  
  }
